In [7]:
import json
import jsonlines
import pandas as pd

In [3]:
!pwd

/Users/mgambhir/OneDrive - SEEK/code/notebooks/RoleTitleSampling

In [11]:
with jsonlines.open('job_1479137.json') as f:
    data = json.load(f)

TypeError: the JSON object must be str, bytes or bytearray, not dict

In [12]:
df = pd.read_json('job_1479137.json',lines=True)

In [13]:
df

,id,data,judgments_count,state,agreement,missed_count,gold_pool,created_at,updated_at,job_id,results
0,2618018216,{'role_title': 'Marketing Manager - Fresh Food...,1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:49:20+00:00,1479137,"{'judgments': [{'id': 5429758816, 'created_at'..."
1,2618018217,{'role_title': 'Specialist Recruitment Consult...,1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:49:20+00:00,1479137,"{'judgments': [{'id': 5429758809, 'created_at'..."
2,2618018219,{'role_title': 'Fish Health Manager'},1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:49:20+00:00,1479137,"{'judgments': [{'id': 5429758812, 'created_at'..."
3,2618018220,{'role_title': 'Chef de Partie - Bass Coast'},1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:41:04+00:00,1479137,"{'judgments': [{'id': 5429746396, 'created_at'..."
4,2618018221,{'role_title': 'Student Adviser/Sales'},1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:41:04+00:00,1479137,"{'judgments': [{'id': 5429746400, 'created_at'..."
5,2618018222,{'role_title': 'Web Site Organiser'},1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:47:37+00:00,1479137,"{'judgments': [{'id': 5429756356, 'created_at'..."
6,2618018223,{'role_title': 'Gastroenterologist'},1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:50:55+00:00,1479137,"{'judgments': [{'id': 5429760894, 'created_at'..."
7,2618018224,{'role_title': 'MC TRUCK DRIVERS - Linehaul'},1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:49:20+00:00,1479137,"{'judgments': [{'id': 5429758820, 'created_at'..."
8,2618018225,"{'role_title': 'HR Business Partner, Victoria'}",1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:41:04+00:00,1479137,"{'judgments': [{'id': 5429746401, 'created_at'..."
9,2618018226,{'role_title': 'Solution Architect - Power of ...,1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:47:38+00:00,1479137,"{'judgments': [{'id': 5429756397, 'created_at'..."
10,2618018227,{'role_title': 'Steel Fixer / Concrete Finisher'},1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:49:20+00:00,1479137,"{'judgments': [{'id': 5429758801, 'created_at'..."
11,2618018228,{'role_title': 'Medical Receptionist - Radiolo...,1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:50:56+00:00,1479137,"{'judgments': [{'id': 5429760897, 'created_at'..."
12,2618018229,{'role_title': 'Materials Management Trainee'},1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:41:04+00:00,1479137,"{'judgments': [{'id': 5429746399, 'created_at'..."
13,2618018230,{'role_title': 'Administrator Coordinator - Pe...,1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:47:38+00:00,1479137,"{'judgments': [{'id': 5429756392, 'created_at'..."
14,2618018231,{'role_title': 'Global Chief Financial Officer...,1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:47:37+00:00,1479137,"{'judgments': [{'id': 5429756386, 'created_at'..."
15,2618018232,{'role_title': 'Payroll officer | temp to perm...,1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:50:55+00:00,1479137,"{'judgments': [{'id': 5429760892, 'created_at'..."
16,2618018233,{'role_title': 'Financial Systems Business Ana...,1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:50:55+00:00,1479137,"{'judgments': [{'id': 5429760889, 'created_at'..."
17,2618018234,{'role_title': 'Boiler Maker minimum 2 years e...,1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:41:03+00:00,1479137,"{'judgments': [{'id': 5429746392, 'created_at'..."
18,2618018235,{'role_title': 'Level Crossing Assistant'},1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:47:37+00:00,1479137,"{'judgments': [{'id': 5429756373, 'created_at'..."
19,2618018236,{'role_title': 'Librarian (Full time Dee Why)'},1,finalized,1,0,NaN,2020-01-23 21:31:48+00:00,2020-01-23 21:50:55+00:00,1479137,"{'judgments': [{'id': 5429760887, 'created_at'..."